<footer id="ttr_footer">
        <div class="ttr_footer-widget-cell_inner_widget_container row">
            <div class="ttr_footer-widget-cell_inner0">
                <div class="post_column col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="footercellcolumn1">
                        <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                        </div>
                        <div class="html_content">
                            <p style="margin:0em 0em 0.36em 0em;"><span class="ttr_image"
                                    style="float:Left;overflow:hidden;margin:0em 0em 0em 0em;"><span><a
                                            href="/" target="_self"><img class="ttr_uniform"
                                                style="max-height:30px;max-width:210px;" src="images/menulogo.png"
                                                alt="logo" /></a></span></span></p>
                        </div>
                        <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                        </div>
                    </div>
                </div>
                <div class=" visible-xs-block" style="clear: both;"></div>
                <div class="post_column col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="footercellcolumn2">
                        <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                        </div>
                        <div class="html_content">
                            <p style="margin:0em 0em 0.36em 0em;"><span
                                    style="font-size:0.786em;color:rgba(105,105,105,1);">Data from 식약처 공공데이터 서비스
                                    [</span><a
                                    href="https://www.data.go.kr/subMain.jsp?param=T1BFTkFQSUAxNTAyMDYyNw==#/L3B1YnIvcG90L215cC9Jcm9zTXlQYWdlL29wZW5EZXZHdWlkZVBhZ2UkQF4wMTJtMSRAXnB1YmxpY0RhdGFQaz0xNTAyMDYyNyRAXnB1YmxpY0RhdGFEZXRhaWxQaz11ZGRpOjFiNzIzYWE3LWFmMmEtNDQ1Yi1iYjM2LWE4OTkzZjVhNzUxOSRAXm9wcnRpblNlcU5vPTE1OTAyJEBebWFpbkZsYWc9dHJ1ZQ=="
                                    class="tt_link" target="_self" style="color:rgba(0,102,204,1);"><span
                                        style="font-size:0.786em;color:rgba(105,105,105,1);">link</span></a><span
                                    style="font-size:0.786em;color:rgba(105,105,105,1);">]</span></p> 
                                    <p style="margin:0em 0em 0.36em 0em;"><span
                                        style="font-size:0.786em;color:rgba(105,105,105,1);"> 
                                        <span
                                    style="font-size:1em;color:rgba(105,105,105,1);">ClinicalTrial.kr csv file
                                    [</span><a href="download"
                                    class="tt_link" target="_self" style="color:rgba(0,102,204,1);"><span
                                        style="font-size:0.786em;color:rgba(105,105,105,1);">download </span></a><span
                                    style="font-size:0.786em;color:rgba(105,105,105,1);">]</span>
                                        
                                        </p>
                           
                                    <p style="margin:0em 0em 0.36em 0em;"><span><span
                                        style="font-size:0.786em;color:rgba(105,105,105,1);">Contact</span><span
                                        style="font-size:0.786em;color:rgba(105,105,105,1);">&nbsp;&nbsp;:
                                    </span><span style="font-size:0.786em;color:rgba(105,105,105,1);">
                                        info@jbcp.kr</span></span></p>
                            <p style="margin:0em 0em 0.36em 0em;"><span></span></p>
                            <p style="margin:0em 0em 0.36em 0em;"><br style="color:rgba(255,255,255,1);" /></p>
                        </div>
                        <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                        </div>
                    </div>
                </div>
                <div class=" visible-xs-block" style="clear: both;"></div>
                <div class="post_column col-lg-5 col-md-4 col-sm-4 col-xs-12">
                    <div class="footercellcolumn3">
                        <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                        </div>
                        <div class="html_content">
                            <p style="margin:0em 0em 0em 0.71em;text-align:Right;"><span
                                    style="font-size:0.786em;color:rgba(105,105,105,1);">Copyright@clinicaltrial.kr
                                </span></p>
                        </div>
                        <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                        </div>
                    </div>
                </div>
                <div class=" visible-lg-block visible-sm-block visible-md-block visible-xs-block"
                    style="clear: both;"></div>
            </div>
        </div>
        <div class="ttr_footer_bottom_footer">
            <div class="ttr_footer_bottom_footer_inner">
                <div class="ttr_footer_element_alignment container">
                </div>
            </div>
        </div>
    </footer>