<nav id="ttr_menu" class="navbar-default navbar ">
    <div id="ttr_menu_inner_in">
        <div id="navigationmenu">
            <div class="ttr_menu_element_alignment container">
            </div>
            <div class="ttr_menu_logo">
                <a href="/" target="_self">
                    <img src="../images/menulogo.png" alt="menuimage" />
                </a>
            </div>
            <div class="navbar-header">
                <button id="nav-expander" data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle"
                    type="button">
                    <span class="ttr_menu_toggle_button">
                        <span class="sr-only">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                    </span>
                    <span class="ttr_menu_button_text">
                        Menu
                    </span>
                </button>
            </div>
            <div class="menu-center collapse navbar-collapse">
                <ul class="ttr_menu_items nav navbar-nav nav-center">
                    <li class="ttr_menu_items_parent dropdown active"><a href="/"
                            class="ttr_menu_items_parent_link_active"><span class="menuchildicon"></span>HOME</a>
                        <hr class="horiz_separator" />
                    </li> <!-- main menu list closing -->
                    <li class="ttr_menu_items_parent dropdown"><a href="summary.html"
                            class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>Summary</a>
                        <hr class="horiz_separator" />
                    </li> <!-- main menu list closing -->
                    <li class="ttr_menu_items_parent drFopdown"><a href="phase.html"
                            class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>시험단계</a>
                        <hr class="horiz_separator" />
                    </li>
                    <li class="ttr_menu_items_parent dropdown"><a href="type.html"
                            class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>다국가/국내</a>
                        <hr class="horiz_separator" />
                    </li>
                    <li class="ttr_menu_items_parent dropdown"><a href="ci.html"
                            class="ttr_menu_items_parent_link dropdown-toggle" data-toggle="dropdown"><span
                                class="menuchildicon"></span>실시기관</a>
                        <ul class="child dropdown-menu" role="menu">
                            <li><a href="ci.html"><span class="menuchildicon"></span>주관기관기준</a>
                            </li>
                            <li><a href="pi.html"><span class="menuchildicon"></span>참여기관기준</a>
                            </li> <!-- 1st level child list closing -->
                        </ul>
                        <hr class="horiz_separator" />
                    </li> <!-- main menu list closing -->
                    <li class="ttr_menu_items_parent dropdown"><a href="about.html"
                            class="ttr_menu_items_parent_link"><span class="menuchildicon"></span>About Us</a>
                    </li> <!-- main menu list closing -->
                </ul>
            </div>
        </div>
    </div>
</nav>