<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Meta Description" />
    <title>
        About Us
    </title>
    <% include ./header.ejs %>


    <!--[if lte IE 8]>
<link rel="stylesheet"  href="menuie.css" type="text/css" media="screen"/>
<link rel="stylesheet"  href="vmenuie.css" type="text/css" media="screen"/>
<![endif]-->
    <script type="text/javascript" src="../js/totop.js">
    </script>
    <link rel="shortcut icon" href="favicon.ico" />
    <!--[if IE 7]>
<style type="text/css" media="screen">
#ttr_vmenu_items  li.ttr_vmenu_items_parent {margin-left:-16px;font-size:0px;}
</style>
<![endif]-->
    <!--[if lt IE 9]>
<script type="text/javascript" src="html5shiv.js">
</script>
<script type="text/javascript" src="respond.min.js">
</script>
<![endif]-->
</head>

<body class="us">
    <div class="totopshow">
        <a href="#" class="back-to-top"><img alt="Back to Top" src="images/gototop0.png" /></a>
    </div><!-- totopshow -->
    <% include ./menu.ejs %>
    <div id="ttr_page" class="container">
        <div id="ttr_content_and_sidebar_container">
            <div id="ttr_content">
                <div id="ttr_html_content_margin" class="container-fluid">
                    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
           
                    <div class="ttr_us_html_row0 row">
                        <div class="post_column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ttr_us_html_column00">
                                <div
                                    style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                </div>
                                <div class="html_content"><br style="line-height:1.49142857142857;" />
                                    <p style="margin:0em 0em 0em 0.57em;line-height:3.37142857142857;"><span
                                            style="font-family:'Arial';font-size:1.714em;">ClinicalTrial.kr
                                        </span></p>
                                    <p style="margin:0em 0em 0em 0.57em;line-height:3.37142857142857;"><span
                                            style="font-size:1.786em;">한국 임상시험 승인 현황 데이터를 수집하여 연구자들에게 도움이
                                            되는&nbsp;&nbsp;Visualization을&nbsp;&nbsp;제공하기위해 노력하고 있습니다.</span></p><br
                                        style="line-height:1.49142857142857;" />
                                </div>
                                <div
                                    style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                        <div class=" visible-lg-block visible-sm-block visible-md-block visible-xs-block"
                            style="clear: both;"></div>
                    </div>
                    <div class="ttr_us_html_row1 row">
                            <div class="post_column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ttr_us_html_column10">
                                    <div
                                        style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                    </div>
                                    <div class="html_content"><br style="line-height:1.49142857142857;" />
                                        
                                        <h2 style="margin:0.14em 0em 0em 0.57em;line-height:1.49142857142857;"><span
                                            class="ttr_image"
                                            style="float:Left;overflow:hidden;margin:0em 0em 0em 0em;"><span><img
                                                    class="ttr_uniform" style="max-height:528px;max-width:1101px;"
                                                    src="../images/ct.png" alt="sample" /></span></span></h2><br
                                        style="line-height:1.49142857142857;" />
                                    </div>
                                    <div
                                        style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                            <div class=" visible-lg-block visible-sm-block visible-md-block visible-xs-block"
                                style="clear: both;"></div>
                        
                    </div>
                    <div class="ttr_us_html_row1 row">
                            <div class="post_column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ttr_us_html_column10">
                                    <div
                                        style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                    </div>
                                    <div class="html_content"><br style="line-height:1.49142857142857;" />
                                        <p style="margin:0em 0em 0em 0.57em;line-height:2.99142857142857;"><span
                                                style="font-family:'Arial';font-size:1.714em;">History</span></p>
                                    </div>
                                    <div
                                        style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
    
                            </div>
                            <div class=" visible-lg-block visible-xs-block" style="clear: both;"></div>
                        </div>
                        <div class="ttr_us_html_row4 row">
                            <div class="post_column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="ttr_us_html_column10">
                                    <div
                                        style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                    </div>
                                    <div class="html_content"><br style="line-height:1.49142857142857;" />
                                        <table >
                                            <tr>
                                                <td>
                                                    2019-05-08
                                                </td>
                                                <td>
                                                    ver 0.1
    
                                                </td>
                                                <td>
                                                    published 
        
                                                </td>
                                            </tr>
                                      
                                        </table>
                                    </div>
                                    <div
                                        style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
    
                            </div>
                            <div class=" visible-lg-block visible-xs-block" style="clear: both;"></div>
                        </div>
                    <div class="ttr_us_html_row1 row">
                        <div class="post_column col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ttr_us_html_column10">
                                <div
                                    style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                </div>
                                <div class="html_content"><br style="line-height:1.49142857142857;" />
                                    <p style="margin:0em 0em 0em 0.57em;line-height:2.99142857142857;"><span
                                            style="font-family:'Arial';font-size:1.714em;">참여자</span></p>
                                </div>
                                <div
                                    style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                        <div class=" visible-lg-block visible-xs-block" style="clear: both;"></div>
                    </div>
                    <div class="ttr_us_html_row2 row">
                        <div class="post_column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="ttr_us_html_column20">
                                <div
                                    style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                </div>
                                <div class="html_content"><br style="line-height:1.49142857142857;" />
                                    <h2
                                        style="margin:0.14em 0em 0em 0.57em;text-align:Center;line-height:1.49142857142857;">
                                        <span class="ttr_image"
                                            style="float:none;display:block;text-align:center;overflow:hidden;margin:0.36em 0.36em 1.79em 0.36em;"><span><img
                                                    class="ttr_uniform"
                                                    style="max-height:200px;max-width:155.555555555556px;"
                                                    src="images/mingulkim copy.png"
                                                    alt="mgkim_pic" /></span></span><span style="font-size:1.714em;">
                                            김민걸 </span><span>Pathfinder</span></h2>
                                    <p style="line-height:1.49142857142857;"><br /></p><span>
                                        <hr class="ttr_image"
                                            style="float:none;display:block;text-align:center;overflow:hidden;border-width:1px 0px 0px 0px;border-color:rgba(0,0,0,1);border-style:Solid;" />
                                        </span>
                                    <p style="line-height:1.49142857142857;"><br /></p>
                                    <p
                                        style="margin:0.14em 0em 0em 0.57em;text-align:Center;line-height:1.49142857142857;">
                                        <span>전북대학교 약리학교실 교수</span></p>
                                    <p
                                        style="margin:0.14em 0em 0em 0.57em;text-align:Center;line-height:1.49142857142857;">
                                        <span>전북대학교병원임상약리센터 센터장</span></p>
                                </div>
                                <div
                                    style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                        <div class=" visible-xs-block" style="clear: both;"></div>
                        <div class="post_column col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="ttr_us_html_column21">
                                <div
                                    style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                </div>
                                <div class="html_content"><br style="line-height:1.49142857142857;" />
                                    <h2
                                        style="margin:0.14em 0em 0em 0.57em;text-align:Center;line-height:1.49142857142857;">
                                        <span class="ttr_image"
                                            style="float:none;display:block;text-align:center;overflow:hidden;margin:0.36em 0.36em 1.79em 0.36em;"><span><img
                                                    class="ttr_uniform"
                                                    style="max-height:200px;max-width:172.89156626506px;"
                                                    src="images/jhlee31.png" alt="jhleepic" /></span></span><span
                                            style="font-size:1.714em;"> 이지형 </span><span>Task Runner</span></h2>
                                    <p style="line-height:1.49142857142857;"><br /></p><span>
                                        <hr class="ttr_image"
                                            style="float:none;display:block;text-align:center;overflow:hidden;border-width:1px 0px 0px 0px;border-color:rgba(0,0,0,1);border-style:Solid;" />
                                        </span>
                                    <p style="line-height:1.49142857142857;"><br /></p>
                                    <p
                                        style="margin:0.14em 0em 0em 0.57em;text-align:Center;line-height:1.49142857142857;">
                                        <span>전북대학교 약리학교실 박사과정</span></p>
                                    <p
                                        style="margin:0.14em 0em 0em 0.57em;text-align:Center;line-height:1.49142857142857;">
                                        <span>전북대학교 임상약리센터 연구원</span></p>
                                </div>
                                <div
                                    style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;">
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                        <div class=" visible-sm-block visible-md-block visible-xs-block" style="clear: both;"></div>
                    </div>
                    <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
                </div>
                <!--content_margin-->
            </div>
            <!--content-->
            <div style="clear:both">
            </div>
        </div>
        <!--container-->
        <div style="height:0px;width:0px;overflow:hidden;"></div>
        <% include ./footer.ejs %>
        <div style="height:0px;width:0px;overflow:hidden;-webkit-margin-bottom-collapse: separate;"></div>
    </div>
    <!--page-->
</body>

</html>